body {
    font-family: Georgia, sans-serif;
    text-align: center;
    font-size: 14px;
}

#container {
    width: 416px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
}

.intro {
    font-size: 16px;
}

img{
  margin: 2px;
}

#category{
  margin:40px 0;
}

li{
  display:inline;
  list-style-type:none;
  margin:2px;
  font-size: 2em;
  background-color: orange;
  padding:2px;
  rounden-corners: 2em;
}
